.todo-list {
  margin-top: 5px;
  list-style: none;
  width: 100%;
  .list-group-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
    span {
      width: 100%;
    }
    textarea {
      width: calc(100% - 50px);
    }
  }
  .edit-btn {
    margin-left: auto;
    margin-right: 15px;
  }
}
